# __Proyecto de Inmuebles en la Ciudad de Mexico__

## Importar librerias

In [1]:
import pandas as pd

## Importar base de datos

In [3]:
url = 'https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv'
dataset = pd.read_csv(url, sep=';')
dataset.head()

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
0,Cocineta,Condesa,1,0,0,40,5950.0,1750.0,210.0
1,Casa,Polanco,2,0,1,100,24500.0,NaN,NaN
2,Conjunto Comercial/Sala,Santa Fe,0,4,0,150,18200.0,14070.0,3888.5
3,Departamento,Centro Histórico,1,0,0,15,2800.0,1365.0,70.0
4,Departamento,Del Valle,1,0,0,48,2800.0,805.0,NaN

## Exploracion de los datos

In [6]:
# mostrar 10 filas aleatorias del df
dataset.sample(10)

,Tipo,Colonia,Habitaciones,Garages,Suites,Area,Valor,Condominio,Impuesto
5806,Departamento en Hotel,Coyoacán,2,2,2,90,26250.0,8729.0,1092.0
20125,Edificio Completo,Centro Histórico,0,0,0,725,140000.0,NaN,NaN
12257,Conjunto Comercial/Sala,Centro Histórico,0,0,0,93,10500.0,2730.0,1099.0
14242,Departamento,Coyoacán,3,1,1,140,27650.0,10150.0,1753.5
1540,Conjunto Comercial/Sala,Centro Histórico,0,0,0,35,1750.0,2765.0,339.5
22330,Departamento,Santa Fe,4,2,1,140,18900.0,3815.0,2100.0
14852,Departamento,Santa Fe,3,3,3,300,42000.0,12950.0,5197.5
3993,Departamento,San Miguel Chapultepec,2,0,1,74,5250.0,2971.5,318.5
15259,Departamento,Santa Fe,3,1,1,80,6650.0,3552.5,626.5
8757,Conjunto Comercial/Sala,Santa Fe,0,1,0,27,1396.5,2240.0,437.5

In [7]:
# tipo de dato del df
type(dataset)

pandas.core.frame.DataFrame

In [4]:
# cantidad de filas y columnas del df
dataset.shape

(25121, 9)

> Hay 25.121 filas y 9 columnas.

In [5]:
# nombre de las columnas
dataset.columns

Index(['Tipo', 'Colonia', 'Habitaciones', 'Garages', 'Suites', 'Area', 'Valor',
       'Condominio', 'Impuesto'],
      dtype='object')

In [8]:
# resumen de las variables
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25121 entries, 0 to 25120
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          25121 non-null  object
 1   Colonia       25121 non-null  object
 2   Habitaciones  25121 non-null  int64
 3   Garages       25121 non-null  int64
 4   Suites        25121 non-null  int64
 5   Area          25121 non-null  int64
 6   Valor         25107 non-null  float64
 7   Condominio    22495 non-null  float64
 8   Impuesto      18037 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

> El resumen nos muestra que hay valores faltantes en las variables Valor, Condominio e impuesto. Las 3 variables son de tipo numerico.